Leave a reply
<form method="POST" action="https://api.staticman.net/v2/entry/garfieldmoore/garfieldmoore.github.io/comments">
  <!-- <input name="options[redirect]" type="hidden" value="https://garfieldmoore.co.uk"> -->
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <!-- <label><input name="fields[name]" type="text">Name</label>
  <label><input name="fields[email]" type="email">E-mail</label> -->
  <label><textarea name="fields[message]"></textarea></label>

  <button type="submit">Add comment</button>
</form>
