//---------------------------
// Colors
//---------------------------

$color__base:         #222222;
$color__base--hover:  #7E7E7E;

$grey-bg:               #FAFAFA;
$dark_bg:               #0C1723;
$border-color:          #ECF0F1;
$border-color--darker:  #DADFE1;

$text-color--light: #FAFAFA;
$text-color--darker: #3b5998;

$twitter-brand:   #55acee;
$facebook-brand:  #3b5998;
$google-brand:    #dc4e41;