<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="off-canvas-container">
    {% include sidebar.html %}

    {{ content }}

  </div>


  <script src="{{ '/js/jquery-2.1.4.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/jquery.ghostHunter.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/script.js' | prepend: site.baseurl }}"></script>

  <script src="https://use.fontawesome.com/8f46060f30.js"></script>

  </body>

</html>
